<p>ask</p>
<div class="align-self-center mr-3">
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-warning">
  </form>
</div>
